{% load static %}
    <nav class="shadow-block navbar navbar-expand-lg navbar-light p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="w-100 navbar-nav mr-auto flex-sm-column">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Все товары <span class="sr-only">(current)</span></a>
                </li>
                {% for link in menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'CategoryPage' link.slug %}">{{ link.name | capfirst }}</a>
{#                        <hr>#}
                    </li>
                {% endfor %}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Dropdown#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">Action</a>#}
{#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
    </nav>
<div class="your-class">
  <div>
      <img class="img-fluid" src="{% static "sidebar-gallery/1.jpg" %}" alt="">
  </div>
    <div>
      <img class="img-fluid" src="{% static "sidebar-gallery/2.jpg" %}" alt="">
  </div>
    <div>
      <img class="img-fluid" src="{% static "sidebar-gallery/3.jpg" %}" alt="">
  </div>
    <div>
      <img class="img-fluid" src="{% static "sidebar-gallery/4.jpg" %}" alt="">
  </div>
</div>
