<div class="row">
    <a href ="{% url "IndexPage" %}" class="mr-2 btn btn-sm top-menu-btn py-3">Главная</a>
    {% for item in MAIN_MENU_ITEMS %}
        <a class="btn btn-sm mr-2 top-menu-btn py-3" href ="{% url 'PageDetail' item.slug %}">{{ item.name }}</a>
    {% endfor %}
    <a href ="{% url "OrderPage" %}" class="btn btn-sm top-menu-btn py-3">Заявка</a>
</div>