<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1"><i class="fas fa-chevron-double-left"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i
                        class="fas fa-chevron-left"></i></a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                        class="fas fa-chevron-right"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i
                        class="fas fa-chevron-double-right"></i></a>
            </li>
        {% endif %}
    </ul>
</nav>