body{
    font-family: 'Nunito', sans-serif;
    background: #f3f3f3;
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
}

.header-wrapper{
    background: #1d324e;
    color: white;
}
.footer-wrapper{
    background: #687081;

    color: white;
}
.headline-text{
    color: #557A95;
}
.headline-text-2{
    color: #7395AE;
}
.headline-text-3{
    color: #B1A296;
}
.sidebar-menu{
    list-style-type: none;
    list-style-position: inside;
}
h1, h2, h2, .h1, .h2, .h3{
    font-family: 'Oswald', sans-serif;
}
.clickme{
    /*border-bottom-style: dashed;*/
    /*border-bottom-color: cornflowerblue;*/
}
.text-color-1{
    color: #e08f0d !important;
}
.attention{
    border: 1px solid #01af0a;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: #f1fff2;
    color: #01af0a;
}
.shadow-block{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    /*background: #fff;*/
}
.shadow-block li{
    background: #ffffff;
    margin-top: .1rem;
}
.background-white{
    background: #ffffff;
}
.top-menu-btn{
    color: white;
}
.notification{

}
.alert{
    color: #ff253a;
}