{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'metrics/yandex_webmaster.html' %}
    {% include 'metrics/yandex_metrika.html' %}
    {% include 'metrics/google_webmaster.html' %}
    {% include "blocks/slickslider.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Oswald|Ubuntu&display=swap" rel="stylesheet">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}"/>
    <link rel="stylesheet" href="{% static '/fa/css/all.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{{ title }}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ title }}{% endif %}">
</head>
<body>
<div class="container-fluid header-wrapper">
    <div class="container header pt-3 ">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-4">
                <span class="h1">{{ COMPANY_NAME }}<small class="text-color-1">™</small></span>
                <span class="d-block h5"><small class="text-color-1">Надежная металлобаза #1</small></span>
            </div>
            <div class="col-md-4  d-flex justify-content-end">
                <div class="text-center">
                <span class="h1 text-color-1 clickme">{{ PHONE_SHORT | safe }}</span>
                <div class="mt-2">{{ EMAIL_SHORT }}</div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid header-wrapper">
    <div class="container">
        {% include 'blocks/menu.html' %}
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-3 pt-5 pl-0">
            {% include 'products/blocks/sidebar.html' %}
        </div>
        <div class="col-md-9 py-5 px-0">
            <div class="shadow-block background-white p-3">
                <h1 class="headline-text">
                    {% if h1 %}{{ h1 | capfirst }}{% else %}{{ COMPANY_NAME | capfirst }}{% endif %}</h1>
                <small class="text-muted">{{ sub_h1 }}</small><br>

                {% block beforecontent %}
                {% endblock %}

                {% block content %}
                {% endblock %}
                {% if categories_count %}
                    <div class="row mx-0">
                        <div class="col-md-12">
                            На нашем сайте вы можете приобрести {{ products_count }} товаров из {{ categories_count }}
                            различных категорий металлопроката.
                        </div>
                    </div>
                {% endif %}
                {% block undercontent %}
                    {% include 'blocks/trusts.html' %}
                {% endblock %}

            </div>

        </div>
    </div>
</div>
<div class="container-fluid footer-wrapper p-0">
    <div class="container footer py-5">
        <div class="row">
            <div class="col text-light">
                «{{ COMPANY_NAME }}» - Продажа металла в Москве и Санкт-Петербурге. <br/>
                {{ ADDRESS_FULL }}<br>
                {{ PHONE_SHORT }}<br>
                {{ EMAIL_SHORT }}
            </div>
        </div>
    </div>
</div>
<div class="json">
    <script type="application/ld+json">
                {{ json | safe }}
            </script>
    <script type="application/ld+json">
                {{ json_breadcrumbs | safe }}
            </script>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--slicky slider-->
<script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
<script type="text/javascript" src="{% static "myslick.js"%}"></script>
</body>
</html>