{% extends "base.html" %}
{% block content %}
<form method="post">
{#    {{ form.errors }}#}
    {% csrf_token %}
    <div class="form-group">
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="form-group">
        {{ form.phone }}
        <div class="notification alert">{{ form.phone.errors }}</div>

    </div>
    <button type="submit" class="btn btn-primary">Отправить заявку</button>
</form>
{% endblock %}

{% block undercontent %}
{% endblock %}