{% extends 'base.html' %}
{% block content %}
    <a class="small" href="{% url 'IndexPage' %}">{{ COMPANY_NAME }}</a>
    {% for item in html_breadcrumbs %}
        <small>/</small> <a class="small" href="{% url 'CategoryPage' item.url %}" class="">{{ item.anchor }}</a>
    {% endfor %}
    <span class="small text-muted"> / {{ object }}</span>

    {% if grades %}
        <div class="row my-3">
            <div class="col-12">
                <h5>Марки стали:</h5>
                {{ grades|join:", " }}
            </div>
        </div>
    {% endif %}

    {% if gosts %}
        <div class="row my-3">
            <div class="col-12">
                <h5>ГОСТы:</h5>
                {{ gosts|join:", " }}
            </div>
        </div>
    {% endif %}

    {% if child_categorys %}
        <div class="row mt-5">
            {% for child_category in child_categorys %}
                <div class="col-12 col-md-4">
                    <div class="bg-light rounded p-4">
                        <a href="{% url 'CategoryPage' child_category.slug %}" class="h5">{{ child_category }}</a>
                        <br><small class="text-muted">Подкатегорий в
                        категории: {{ child_category.categorys_count }}</small>
                        <br><small class="text-muted">Товаров в
                        категории: {{ child_category.products_count }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if object.product_set.exists %}
        <h4 class="h4 mb-0 mt-5">Товары в категории {{ object | lower }}:</h4>

        <div class="attention my-3 d-block d-md-none">
            <i class="fal fa-exclamation-circle"></i> Прокручивайте таблицу вправо на мобильном
        </div>


        <table class="table table-responsive mt-3">
            <tr>
                {% for header_item in object.product_set.first.get_headers_specification %}
                    <th>{{ header_item }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for product in page_obj %}
                <tr>
                    {% for specification in product.get_specification %}
                        <td style="vertical-align: middle">{{ specification }}</td>
                    {% endfor %}
                    <td style="white-space: nowrap; vertical-align: middle">
                        <a href="{% url 'ProductDetailPage' product.pk %}">подробнее <i
                                class="far fa-exclamation-circle"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'blocks/pagination.html' %}
    {% endif %}


{% endblock %}
